# Files and directories created by pub
.dart_tool/
.packages

# Omit commiting pubspec.lock for library packages:
# https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Mac OS finder metadata
.DS_Store

# IDEs
.idea/
.vscode/

# Don't store generated code until it's time to publish
*.g.dart
*.generated.dart
.fvm/flutter_sdk
.fvm/fvm_config.json

# Code coverage
lcov.info
coverage
.tempCoverageDir
